
.buttonContainer {
	margin-left: 570px;
}
.switch {
	background-color: #ea6231;
	color: #fff;
	height: 49px;
	padding-left: 21px;
	padding-right: 21px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	margin: 12px 0px 0px 0px;
	letter-spacing: 2px;
	text-decoration: none;
	cursor: pointer;
	float: left;
	width: auto;
	margin-right: 11px;
}
.switchOrange {
	background-color:#4b4b4b;
	color: #fff;
	height: 49px;
	padding-left: 21px;
	padding-right: 21px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	margin: 12px 0px 0px 0px;
	letter-spacing: 2px;
	text-decoration: none;
	cursor: pointer;
	width: auto;
	float: left;
}
.switch span, .switchOrange span{
float: left;
text-align: center;
	margin: 18px 0px;
		font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue" 'Lato', 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
}
/*
     FILE ARCHIVED ON 10:50:00 Aug 19, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:42:08 Feb 10, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.012
  CDXLines.iter: 16.43 (3)
  LoadShardBlock: 149.601 (3)
  exclusion.robots.policy: 0.202
  captures_list: 177.152
  RedisCDXSource: 6.829
  PetaboxLoader3.datanode: 178.877 (4)
  PetaboxLoader3.resolve: 112.647
  exclusion.robots: 0.218
  load_resource: 208.171
*/